# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/delicious/node_modules
/delicious/.pnp
/delicious/.pnp.js

# testing
/coverage

# production
/delicious/build

# misc
/delicious/.env
/delicious/.DS_Store
/delicious/.env.local
/delicious/.env.development.local
/delicious/.env.test.local
/delicious/.env.production.local

/delicious/npm-debug.log*
/delicious/yarn-debug.log*
/delicious/yarn-error.log*
